<% @events.each do |event| %>
  <div class="card">
  <div class="card-header">
    <%= event.is_it_past? %>
    <small class="text-muted"> <%= event.date %> </small>
  </div>
  <div class="card-body">
    <h5 class="card-title"> <%= event.name %> </h5>
    <p class="card-text"> <%= event.description %> </p>
    <%= link_to 'See More', event_path(event), class: 'btn btn-primary' %>
  </div>
</div>

<% end %>