
<div class="jumbotron">
  <h1 class="display-4"> <%= @event.name %> </h1>
  <p class="lead"> <%= @event.description %> </p>
  <hr class="my-4">
  <p> <%= @event.date %> </p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>

<h4 class="h5"> Guest List </h4>
  <div class="card" style="width: 18rem;">
    <ul class="list-group list-group-flush">
      <% @event.invitations.each do |invitation| %>
        <li class="list-group-item"> <%= invitation.invitee.email %> </li>
        <% end %>
    </ul>
  </div>

  <h4 class="h5"> List of all users </h4>
  <div class="card" style="width: 18rem;">
    <ul class="list-group list-group-flush">
      <% @users.each do |user| %>
        <li class="list-group-item"> <%= user.email if !user.check_invited?(@event) %></li>
        <div class="form-group">
        <%= form_with url: invitations_path , local: true, method: :POST do |f| %>
          <%= f.hidden_field :invitator, value: current_user.id %>
          <%= f.hidden_field :invitee, value: user.id %>
          <%= f.hidden_field :event, value: @event.id %>
          <button type="submit" class="btn btn-primary">Invite User</button>
        <% end %>
  </div>
        <% end %>
    </ul>
  </div>

